.our-work {
    padding-top: 100px;
    .navbar-nav{
        width: 100%;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 45px;
        >li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 15px;
            float: none;
            a {
                color: $text-color;
                text-transform: uppercase;
                padding: 12px 20px;
                border-radius: 25px;
                &:hover{
                    text-decoration: none;
                    background-color: $about-color;
                    color: $white-color;
                }
            }
        }
    }
}
.block-item {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    transition: all 0.35s ease;
    img {
        width: 100%;
    }
    .block-project-name {
        position: absolute;
        height: 0;
        bottom:0;
        right: 0;
        left: 0;
        width: 100%;
        background-color: $about-color;
        color: $white-color;
        text-align: center;
        transition: height 0.7s ease-out;
        &:before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            line-height: 100%;
        }
        .box-center{
            display: inline-block;
            vertical-align: middle;
        }
    }
    &:hover {
        .block-project-name {
            height: 100%;
        }
    }
}
